.icon {
  background-color: var(--main-color);
  position: fixed;
  width: 2rem;
  height: 3rem;
  top: 30%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: var(--font-color);
  font-size: x-large;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.7s;
}

.icon:hover {
  width: 5rem;
}
