.create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--font-color);
}

.create form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create label {
  font-size: large;
  font-weight: 500;
  margin-bottom: 1rem;
}

.create input {
  width: 70%;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  font-size: larger;
}

.close {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  right: 0;
}
