.item {
  border: 1px solid black;
  border-radius: 25px;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  background-color: var(--button-color);
}

.item li {
  display: flex;
  align-items: center;
  font-size: larger;
  font-weight: 600;
  padding: 0.5rem 1rem;

  color: var(--font-color);
}

.item:hover {
  background-color: var(--button-hover-color);
  color: var(--font-hover-color);
  cursor: pointer;
}
