.list ul {
  list-style: none;
}
.list {
  height: 60vh;
  overflow-y: scroll;
  color: var(--font-color);
}

.close {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 20px;
  right: 30px;
}
