.header {
  width: 95%;
  height: 20%;
  background-color: var(--main-color);
  margin: 0.5rem 0rem 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.logo {
  font-size: xx-large;
  font-weight: 800;
  margin-left: 2rem;
  color: var(--font-color);
}

.menu-ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: x-large;
  font-weight: 500;
  color: var(--font-color);
}

.menu-ul li {
  margin-right: 2rem;
}
.menu-ul li:hover {
  color: var(--font-hover-color);
  cursor: pointer;
}
