.user-card {
  display: flex;
  justify-content: flex-start;
  margin: 1rem;
}

.image {
  width: 30%;
  height: fit-content;
  border: 2px solid black;
  background-color: var(--font-color);
}

.image img {
  width: 100%;
}

.details {
  font-size: large;
  font-weight: 600;
  margin: 0rem 0.5rem;
  color: var(--font-color);
}
