body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --bg-color: #000000;
  --main-color: #830000;
  --font-color: #abb6c4;
  --font-hover-color: #eeeeee;
  --button-color: #ad4040;
  --button-hover-color: #9b1f1f;
}

button {
  margin: 0.75rem;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  font-size: larger;
  font-weight: 300;
  background-color: var(--button-color);
  color: var(--font-color);
  border: 0px;
}

button:hover {
  background-color: var(--button-hover-color);
  color: var(--font-hover-color);
}
