.main-grid {
  margin: 2rem 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-template-rows: auto;
  column-gap: 20px;
}
.error {
  color: white;
  font-size: xx-large;
  font-weight: 600;
  text-align: center;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action button {
  background-color: var(--button-color);
  color: var(--font-color);
}
.action button:hover {
  background-color: var(--button-hover-color);
  color: var(--font-hover-color);
}
